.frontpage {
  margin: 150px 0 0 0;
}

.button {
  position: absolute;
  border: none;
  padding: 4px 6px;
  background-color: #023047;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fb8500;
  list-style-type: none;
  transition: all 0.2s;
  font-size: 24px;
  padding: 10px;
}

.back {
  left: 2.5rem;
}

.next {
  right: 2.5rem;
}
