.navbar {
    display: flex;
    justify-content: center;
    background-color: #495c83;
    height: 60px;
    margin-bottom: 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 55px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    text-decoration: none;
  }
  .navbar ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    list-style-type: none;
    text-transform: uppercase;
    transition: all 0.2s;
  }
  
  .navbar ul :hover {
    color: rgb(184, 182, 182);
    text-decoration: none;
  }

  .navbar-button { 
    border: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    list-style-type: none;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  .navbar a:link {
    text-decoration: none;
 }

